@rounded(@radius: 3px){
    border-radius: @radius;
    -moz-border-radius: @radius;
	-webkit-border-radius: @radius;
	-o-border-radius: @radius;
}

@roundedCustom(@radiusTopLeft: 3px; @radiusTopRight: 3px; @radiusBottomRight: 3px; @radiusBottomLeft: 3px){
	-webkit-border-top-left-radius: @radiusTopLeft;
	-webkit-border-top-right-radius: @radiusTopRight;
	-webkit-border-bottom-right-radius: @radiusBottomRight;
	-webkit-border-bottom-left-radius: @radiusBottomLeft;
	-moz-border-radius-topleft: @radiusTopLeft;
	-moz-border-radius-topright: @radiusTopRight;
	-moz-border-radius-bottomright: @radiusBottomRight;
	-moz-border-radius-bottomleft: @radiusBottomLeft;
	-o-border-top-left-radius: @radiusTopLeft;
	-o-border-top-right-radius: @radiusTopRight;
	-o-border-bottom-right-radius: @radiusBottomRight;
	-o-border-bottom-left-radius: @radiusBottomLeft;
	border-top-left-radius: @radiusTopLeft;
	border-top-right-radius: @radiusTopRight;
	border-bottom-right-radius: @radiusBottomRight;
	border-bottom-left-radius: @radiusBottomLeft;
}

@boxShadow(@x: 1px; @y: 1px; @blur: 1px; @color: #000; @inset: ){
	box-shadow: @inset @x @y @blur @color;
	-moz-box-shadow: @inset @x @y @blur @color;
	-webkit-box-shadow: @inset @x @y @blur @color;
	-o-box-shadow: @inset @x @y @blur @color;
/*	filter:progid:DXImageTransform.Microsoft.Shadow(color=@color, Direction=135, Strength=12);
	zoom: 1;*/
}

@boxInnerShadow(@x: 1px; @y: 1px; @blur: 1px; @color: #000){
	box-shadow: inset @x @y @blur @color;
	-moz-box-shadow: inset @x @y @blur @color;
	-webkit-box-shadow: inset @x @y @blur @color;
	-o-box-shadow: inset @x @y @blur @color;
/*	filter: progid:DXImageTransform.Microsoft.Shadow(color='{@color}', Direction=135, Strength=12);*/
/*	zoom: 1;*/
}

@textMenuEffect(@color1; @color2){
	color: @color1;
	text-shadow: 1px 1px 0px @color2;
/*	filter:progid:DXImageTransform.Microsoft.Shadow(color=@color2, Direction=135, Strength=1);
	zoom: 1;*/
}


@backgroundVerticalRadiant(@colorTop; @colorBottom){
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, @colorBottom),
		color-stop(1, @colorTop)
	);

	background-image: -moz-linear-gradient(
		center bottom,
		@colorBottom 0%,
		@colorTop 100%
	);

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='{@colorTop}', endColorstr='{@colorBottom}');
}

@debug(){
	border: 1px solid red;
}

@rotate(@deg){
	-moz-transform:rotate(@deg);
	-o-transform:rotate(@deg);
	-ms-transform:rotate(@deg);
	-webkit-transform:rotate(@deg);
}