@import '_abstract.less';

/*@import url(http://fonts.googleapis.com/css?family=PT+Serif|Droid+Sans:400,700&subset=latin&v2);*/

@gris: #252d31;
@bleu : #5cb3e6;

html, body {
    height: 100%;
}

body {
	background: #f0f0f0 url('/images/header.png') repeat-x;
	text-align: center;
	font-family: 'Droid Sans', Arial, sans-serif;
	font-size: 13px;
	color: @gris;
}

@buttonEffect {
	background: #e3e3e3;
	@backgroundVerticalRadiant(#f0f0f0; #e3e3e3);
	border: 1px solid #cfcfcf;
}

a { text-decoration: none; }

h1, h2 { font-family: 'PT Serif', Georgia, serif; }

strong { font-weight: bold; }

.clear { clear: both; }

#main {
    min-height: 100%;
    position: relative;
    width: 100%;
}

#header, #sous-header, #content, #footer .wraper {
	width: 960px;
	margin: 0px auto;
	position: relative;
	text-align: left;
}

#header {
	height: 94px;
	padding-top: 25px;
	
	#logo { position: absolute;	}
	
	ul#menu {
		position: absolute;
		right: 0px;
		margin: 14px 0px 0px 0px;
			
		li {
			@width: 155px;
			@height: 46px;
		
			float: left;
			margin: 0px 0px 0px 15px;
			position :relative;
			width: 155px;
			height: 46px;
			
			a, .background, .background-over, .background-current {
				width: 100%;
				height: 100%;
				position: absolute;
			}
							
			a {
				@fontSize: 22px;
				@paddingTop: (@height / 2) - (@fontSize / 2) - 3;
				
				height: @height - @paddingTop !important;
				height: 100%;

				padding-top: @paddingTop;
				
/*				@width: 155px;
				@heightIE: 46px;
				@paddingTop: ( @heightIE - @fontSize - 3 ) / 2;
				@height = @heightIE - @paddingTop;
				display: block;
				width:  @width;
				height: @height !important;  IE6 
				height: @heightIE;
				padding: @paddingTop 0px 0px 0px;
*/
				text-align: center;
				font-size: @fontSize;
				color: #ececec;
				text-shadow: 0px 2px 2px #000;
/*				background: transparent url('/images/menu_1.png') no-repeat;*/
				
/*				&.current{ background-image: url('/images/menu_3.png'); }
				&.over {
					position: absolute;
					margin: -@heightIE 0px 0px 0px;
					display: none;
					background-image: url('/images/menu_2.png');
				}*/
			}
			
			.background-current { background-image: url('/images/menu_3.png'); }
			.background { background-image: url('/images/menu_1.png'); }
			.background-over {
				background-image: url('/images/menu_2.png');
				display: none;
			}
		}
	}
}

#sous-header {
	height: 154px;
	color: #fff;
	padding: 50px 0px 0px 0px;
	text-shadow: 0px 2px 1px #215e80;
	
	img {
		float: left;
		margin: 0px 15px 35px 0px;
	}
	
	h1 {
		font-size: 38px;
		margin: 0px 0px 10px 0px;
	}
	
	p {
		font-size: 16px;
		line-height: 18px;
		text-align: justify;
	}
}

#content {
	padding: 45px 0px 245px 0px;
	overflow: hidden;
	
	h2 {
		font-size: 27px;
		margin: 0px 0px 15px 0px;
	}

	p {
		font-size: 14px;
		line-height: 18px;
		text-align: justify;
		margin: 0px 0px 20px 0px;
	}
	
	/** Présentation **/
	
	#diapo {
		background: transparent url('/images/diapo.png') no-repeat;
		width: 490px;
		height: 292px;
		float: left;
		margin: 0px 15px 0px 0px;
		overflow: hidden;
		
		img {
			margin: 3px 0 0 15px;
			position: absolute;
		}
	}
	
	.contact {
		height: 70px;
		width: 450px;
		float: left;
		margin: 10px 0px 0px 0px;
		@buttonEffect;
		
		a { color: #414141; }
		a:hover { color:  @bleu; }
		
		.tel {
			position: absolute;
			margin: 22px 0 0 20px;
			background: transparent url('/images/telephone.png') no-repeat 0px 0px;
			padding: 0 0 0 25px;
			line-height: 31px;
			font-size: 27px;
			font-weight: bold;
		}
		
		.email {
			position: absolute;
			margin: 25px 0 0 256px;
			font-size: 21px;
			background: none;
		}
	}
	
	.col1, .col2, .col3 {
		position: relative;
		float: left;
		padding: 125px 0px 0px;
		margin: 80px 58px 0px 0px;
		width: 280px;
		height: 140px;
		
		background: transparent url('/images/col1.png') no-repeat top center;
		
		h3 {
			font-size: 22px;
			margin: 0px 0px 15px 0px;
		}
		
		a {
			@buttonEffect;
			color: @gris;
			padding: 5px 10px;
			position: absolute;
			bottom: 0px;
			right: 0px;
			
			&:hover {
				background: @bleu;
				@backgroundVerticalRadiant(@bleu; #1d83be);
				border: 1px solid #1d83be;
				color: #fff;
				text-shadow: 0px 1px 1px #114e72;
			}
		}
	}
	
	.col2 { background-image: url('/images/col2.png'); }
	.col3 { 
		background-image: url('/images/col3.png'); 
		margin-right: 0px;
	}
	
	#logos {
		.clear;
		margin: 100px 0px 0px 0px;
	}
	
	/** Services **/
	
	.services { margin: 35px 0px 0px 0px; }
	
	.service {
		float: left;
		@width: 420px;
		@paddingLeft: 135px;
		width: @width; /* IE 6 */
		width: @width - @paddingLeft !important;
		height: 160px;
		padding: 0px 0px 0px @paddingLeft;
		margin: 0px 0px 60px 0px;
		background: transparent url('/images/service-surmesure.png') no-repeat top left;
		
		
		h2 {
			font-size: 29px;
		}
	}
	
	.vitrine,
	.webdesign,
	.blog,
	.smartphone,
	.email { margin-left: 120px; }
	
	.vitrine { background-image: url('/images/service-vitrine.png'); }
	.hebergement { background-image: url('/images/service-hebergement.png'); }
	.webdesign { background-image: url('/images/service-webdesign.png'); }
	.referencement { background-image: url('/images/service-referencement.png'); }
	.blog { background-image: url('/images/service-blog.png'); }
	.social { background-image: url('/images/service-social.png'); }
	.smartphone { background-image: url('/images/service-smartphone.png'); }
	.saas { background-image: url('/images/service-saas.png'); }
	.email { background-image: url('/images/service-email.png'); }
 
	/** Compétences **/
	
	.competences { margin: 10px 0px 0px 0px; }
	
	.competence {
		margin: 0px 0px 50px 0px;
		
		h2 {
			background: url("../images/hr.png") repeat-x scroll 0px 45px transparent;
			line-height: 47px;
		}
		
		img { margin: 40px 0px 0px 0px; }
	}
	
	/** Réalisations **/
	
	.realisation {
		position: relative;
		float: left;
		margin: 0px 36px 36px 0px;
		background: transparent url('/images/realisation-shadow.png') no-repeat;
		@width: 284px;
		@height: 217px;
		@paddingTop: 6px;
		@paddingLeft: 7px;
		@paddingBottom: 11px;
		@paddingRight: 7px;
		width: @width; /* IE 6 */
		height: @height; /* IE 6 */
		width: @width - @paddingLeft - @paddingRight !important;
		height: @height - @paddingTop - @paddingBottom !important;
		padding: @paddingTop @paddingRight @paddingBottom @paddingLeft;
		color: #e3e3e3;
		
		a, a:visited { color: #e3e3e3; }
		
		strong { font-weight: normal; }
		
		.wraper {
			position: absolute; 
			width: 270px;
			height: 200px;
			overflow: hidden;
			
			.infos {
				position: absolute; 
				background-color: rgba(0, 0, 0, 0.8) !important;
				background-color: #2f2f2f;
				@width: 270px;
				@height: 200px;
				@paddingTop: 6px;
				@paddingLeft: 7px;
				@paddingBottom: 11px;
				@paddingRight: 7px;
				width: @width - @paddingLeft - @paddingRight !important;
				height: @height - @paddingTop - @paddingBottom !important;
				width: @width; /* IE 6 */
				height: @height; /* IE 6 */
				padding: @paddingTop @paddingRight @paddingBottom @paddingLeft;
				bottom: -@height + 50px;

				h3 {
					font-weight: bold;
					font-size: 15px;
					margin: 0px 0px 7px 0px;
				}
				
				p {
					font-size: 12px;
					line-height: 13px;
/*					text-align: left;*/
				}

				h3, p.tags {
					text-shadow: 0px 1px 1px #000;
				}
				
				p.tags { font-size: 13px; }
				p span { font-weight: bold; }
				p.description { margin-bottom: 10px; }
				p.realise { margin-bottom: 10px; }
			}
		}
	}
}

#footer {
	background: #34383b url('/images/footer.png') repeat-x 1px 0px;
	border-top: 1px solid #fff;
	margin-top: 40px;
	padding: 20px 0px 0px 0px;
	text-align: left;
	font-size: 12px;
	color: #fff;
	text-shadow: 0px 1px 1px #000;
	bottom: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 150px;
	
	a { color: #fff; }
	a:hover { color: @bleu; }
	
	.infos {
		position: absolute;
		
		h3 {
			font-family: Arial;
			font-weight: bold;
			font-size: 29px;

			span { color: @bleu; }
		}

		p {
			margin: 10px 0px 0px 0px;
			line-height: 18px;
		}
	}
	
	ul#sitemap {
		margin: 13px 0 0 260px;
		position: absolute;
		font-size: 15px;
		
		li { margin: 0px 0px 11px 0px; }
	}
	
/*
	#bamboo {
		position: absolute;
		width: 94px;
		height: 216px;
		background: transparent url('/images/bamboo.png') repeat-x;
		margin: -66px 0px 0px 400px
	}
*/
	
	ul#social {
		position: absolute;
		margin: 5px 0px 0px 490px;
		
		li {
			text-align: center;
			margin: 0 0 5px; 
		}
	}
	
	#etiquette {
		position: absolute;
		margin: -66px 0 0 660px;
		@paddingTop: 65px;
		@paddingLeft: 30px;
		@height: 189px;
		@width: 290px;
		height: @height - @paddingTop !important;
		width: 290px - @paddingLeft !important;
		height: @height; /* IE 6 */
		width: @width; /* IE 6 */
		padding: @paddingTop 0px 0px @paddingLeft;
		background: transparent url('/images/etiquette.png') no-repeat;
		@rotate(-7deg);

		h3, .tel, .email {
		}
		
		h3 {
			color: @bleu;
			font-size: 26px;
			letter-spacing: 3px;
		}
		
		.tel {
			font-size: 30px;
			background: transparent url('/images/telephone2.png') no-repeat;
			padding: 0px 0px 0px 25px;
		}
		
		.email {
			font-size: 26px;
			color: #f0f0f0;
		}
	}
}

#popin {
	text-align: left;
	@rounded(3px);
	@boxShadow(0px; 5px; 25px; #000);
	
	h1 {
		font-size: 28px;
		margin-bottom: 10px;
		font-weight: normal;
	}
	
	p {
		margin-top: 10px;
		text-align: justify;
	}
}