html, body { height:100%; }
body {
  background:#f0f0f0 url('/images/header.png') repeat-x;
  text-align:center;
  font-family:'Droid Sans', Arial, sans-serif;
  font-size:13px;
  color:#252d31;
}
a { text-decoration:none; }
h1, h2 { font-family:'PT Serif', Georgia, serif; }
strong { font-weight:bold; }
.clear { clear:both; }
#main {
  min-height:100%;
  position:relative;
  width:100%;
}
#header, #sous-header, #content, #footer .wraper {
  width:960px;
  margin:0px auto;
  position:relative;
  text-align:left;
}
#header #logo { position:absolute; }
#header ul#menu li a, #header ul#menu li .background, #header ul#menu li .background-over, #header ul#menu li .background-current {
  width:100%;
  height:100%;
  position:absolute;
}
#header ul#menu li a {
  height:37px !important;
  height:100%;
  padding-top:9px;
  text-align:center;
  font-size:22px;
  color:#ececec;
  text-shadow:0px 2px 2px #000000;
}
#header ul#menu li .background-current { background-image:url('/images/menu_3.png'); }
#header ul#menu li .background { background-image:url('/images/menu_1.png'); }
#header ul#menu li .background-over {
  background-image:url('/images/menu_2.png');
  display:none;
}
#header ul#menu li {
  float:left;
  margin:0px 0px 0px 15px;
  position:relative;
  width:155px;
  height:46px;
}
#header ul#menu {
  position:absolute;
  right:0px;
  margin:14px 0px 0px 0px;
}
#header {
  height:94px;
  padding-top:25px;
}
#sous-header img {
  float:left;
  margin:0px 15px 35px 0px;
}
#sous-header h1 {
  font-size:38px;
  margin:0px 0px 10px 0px;
}
#sous-header p {
  font-size:16px;
  line-height:18px;
  text-align:justify;
}
#sous-header {
  height:154px;
  color:#ffffff;
  padding:50px 0px 0px 0px;
  text-shadow:0px 2px 1px #215e80;
}
#content h2 {
  font-size:27px;
  margin:0px 0px 15px 0px;
}
#content p {
  font-size:14px;
  line-height:18px;
  text-align:justify;
  margin:0px 0px 20px 0px;
}
#content #diapo img {
  margin:3px 0 0 15px;
  position:absolute;
}
#content #diapo {
  background:transparent url('/images/diapo.png') no-repeat;
  width:490px;
  height:292px;
  float:left;
  margin:0px 15px 0px 0px;
  overflow:hidden;
}
#content .contact a { color:#414141; }
#content .contact a:hover { color:#5cb3e6; }
#content .contact .tel {
  position:absolute;
  margin:22px 0 0 20px;
  background:transparent url('/images/telephone.png') no-repeat 0px 0px;
  padding:0 0 0 25px;
  line-height:31px;
  font-size:27px;
  font-weight:bold;
}
#content .contact .email {
  position:absolute;
  margin:25px 0 0 256px;
  font-size:21px;
  background:none;
}
#content .contact {
  height:70px;
  width:450px;
  float:left;
  margin:10px 0px 0px 0px;
  background:#e3e3e3;
  background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0,#e3e3e3),color-stop(1,#f0f0f0));
  background-image:-moz-linear-gradient(center bottom,#e3e3e3 0%,#f0f0f0 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0',endColorstr='#e3e3e3');
  border:1px solid #cfcfcf;
}
#content .col1 h3, #content .col2 h3, #content .col3 h3 {
  font-size:22px;
  margin:0px 0px 15px 0px;
}
#content .col1 a:hover, #content .col2 a:hover, #content .col3 a:hover {
  background:#5cb3e6;
  background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0,#1d83be),color-stop(1,#5cb3e6));
  background-image:-moz-linear-gradient(center bottom,#1d83be 0%,#5cb3e6 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb3e6',endColorstr='#1d83be');
  border:1px solid #1d83be;
  color:#ffffff;
  text-shadow:0px 1px 1px #114e72;
}
#content .col1 a, #content .col2 a, #content .col3 a {
  background:#e3e3e3;
  background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0,#e3e3e3),color-stop(1,#f0f0f0));
  background-image:-moz-linear-gradient(center bottom,#e3e3e3 0%,#f0f0f0 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0',endColorstr='#e3e3e3');
  border:1px solid #cfcfcf;
  color:#252d31;
  padding:5px 10px;
  position:absolute;
  bottom:0px;
  right:0px;
}
#content .col1, #content .col2, #content .col3 {
  position:relative;
  float:left;
  padding:125px 0px 0px;
  margin:80px 58px 0px 0px;
  width:280px;
  height:140px;
  background:transparent url('/images/col1.png') no-repeat top center;
}
#content .col2 { background-image:url('/images/col2.png'); }
#content .col3 {
  background-image:url('/images/col3.png');
  margin-right:0px;
}
#content #logos {
  clear:both;
  margin:100px 0px 0px 0px;
}
#content .services { margin:35px 0px 0px 0px; }
#content .service h2 { font-size:29px; }
#content .service {
  float:left;
  width:420px;
  width:285px !important;
  height:160px;
  padding:0px 0px 0px 135px;
  margin:0px 0px 60px 0px;
  background:transparent url('/images/service-surmesure.png') no-repeat top left;
}
#content .vitrine, #content .webdesign, #content .blog, #content .smartphone, #content .email { margin-left:120px; }
#content .vitrine { background-image:url('/images/service-vitrine.png'); }
#content .hebergement { background-image:url('/images/service-hebergement.png'); }
#content .webdesign { background-image:url('/images/service-webdesign.png'); }
#content .referencement { background-image:url('/images/service-referencement.png'); }
#content .blog { background-image:url('/images/service-blog.png'); }
#content .social { background-image:url('/images/service-social.png'); }
#content .smartphone { background-image:url('/images/service-smartphone.png'); }
#content .saas { background-image:url('/images/service-saas.png'); }
#content .email { background-image:url('/images/service-email.png'); }
#content .competences { margin:10px 0px 0px 0px; }
#content .competence h2 {
  background:url("../images/hr.png") repeat-x scroll 0px 45px transparent;
  line-height:47px;
}
#content .competence img { margin:40px 0px 0px 0px; }
#content .competence { margin:0px 0px 50px 0px; }
#content .realisation a, #content .realisation a:visited { color:#e3e3e3; }
#content .realisation strong { font-weight:normal; }
#content .realisation .wraper .infos h3 {
  font-weight:bold;
  font-size:15px;
  margin:0px 0px 7px 0px;
}
#content .realisation .wraper .infos p {
  font-size:12px;
  line-height:13px;
}
#content .realisation .wraper .infos h3, #content .realisation .wraper .infos p.tags { text-shadow:0px 1px 1px #000000; }
#content .realisation .wraper .infos p.tags { font-size:13px; }
#content .realisation .wraper .infos p span { font-weight:bold; }
#content .realisation .wraper .infos p.description { margin-bottom:10px; }
#content .realisation .wraper .infos p.realise { margin-bottom:10px; }
#content .realisation .wraper .infos {
  position:absolute;
  background-color:rgba(0,0,0,0.8) !important;
  background-color:#2f2f2f;
  width:256px !important;
  width:270px;
  height:183px !important;
  height:200px;
  padding:6px 7px 11px 7px;
  bottom:-150px;
}
#content .realisation .wraper {
  position:absolute;
  width:270px;
  height:200px;
  overflow:hidden;
}
#content .realisation {
  position:relative;
  float:left;
  margin:0px 36px 36px 0px;
  background:transparent url('/images/realisation-shadow.png') no-repeat;
  width:284px;
  width:270px !important;
  height:217px;
  height:200px !important;
  padding:6px 7px 11px 7px;
  color:#e3e3e3;
}
#content {
  padding:45px 0px 245px 0px;
  overflow:hidden;
}
#footer a { color:#ffffff; }
#footer a:hover { color:#5cb3e6; }
#footer .infos h3 span { color:#5cb3e6; }
#footer .infos h3 {
  font-family:Arial;
  font-weight:bold;
  font-size:29px;
}
#footer .infos p {
  margin:10px 0px 0px 0px;
  line-height:18px;
}
#footer .infos { position:absolute; }
#footer ul#sitemap li { margin:0px 0px 11px 0px; }
#footer ul#sitemap {
  margin:13px 0 0 260px;
  position:absolute;
  font-size:15px;
}
#footer ul#social li {
  text-align:center;
  margin:0 0 5px;
}
#footer ul#social {
  position:absolute;
  margin:5px 0px 0px 490px;
}
#footer #etiquette h3 {
  color:#5cb3e6;
  font-size:26px;
  letter-spacing:3px;
}
#footer #etiquette .tel {
  font-size:30px;
  background:transparent url('/images/telephone2.png') no-repeat;
  padding:0px 0px 0px 25px;
}
#footer #etiquette .email {
  font-size:26px;
  color:#f0f0f0;
}
#footer #etiquette {
  position:absolute;
  margin:-66px 0 0 660px;
  height:124px !important;
  height:189px;
  width:260px !important;
  width:290px;
  padding:65px 0px 0px 30px;
  background:transparent url('/images/etiquette.png') no-repeat;
  -moz-transform:rotate(-7deg);
  -o-transform:rotate(-7deg);
  -ms-transform:rotate(-7deg);
  -webkit-transform:rotate(-7deg);
}
#footer {
  background:#34383b url('/images/footer.png') repeat-x 1px 0px;
  border-top:1px solid #ffffff;
  margin-top:40px;
  padding:20px 0px 0px 0px;
  text-align:left;
  font-size:12px;
  color:#ffffff;
  text-shadow:0px 1px 1px #000000;
  bottom:0;
  left:0;
  position:absolute;
  width:100%;
  height:150px;
}
#popin h1 {
  font-size:28px;
  margin-bottom:10px;
  font-weight:normal;
}
#popin p {
  margin-top:10px;
  text-align:justify;
}
#popin {
  text-align:left;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  -o-border-radius:3px;
  box-shadow: 0px 5px 25px #000000;
  -moz-box-shadow: 0px 5px 25px #000000;
  -webkit-box-shadow: 0px 5px 25px #000000;
  -o-box-shadow: 0px 5px 25px #000000;
}
